@media only screen and (min-width: 801px) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    header,
    main,
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 95px auto auto auto;
    }

    header img {
        max-width: 95px;
    }

    .hamburger {
        display: none;
    }

    #half-moon {
        justify-self: flex-end;
        grid-column: 4/5;
    }

    .navigation {
        display: inline-block;
        grid-column: 3/4;
        grid-row: 1/2;
    }

    #navbar ul {
        flex-direction: row;
        column-gap: .5rem;
        justify-content: flex-end;
        padding-left: 10px;
        background-color: transparent;
    }

    #navbar ul li a {
        border-bottom: none;
        padding: .6rem .5rem;
    }

    #navbar ul li a:hover {
        color: #640001;   
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 280px));
        justify-content: center;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .list >.card {
        display: grid;
        grid-template-columns: 300px repeat(2, 145px) 230px;
        gap: 10px;
        border: 1px solid #eee;
    }

    .list .card > .memberImage {
        display: none;
    }

    /*============================== HOME PAGE ===================================*/
    /* --------------------- Main ------------------ */
    #hero-banner button {
        color: white;
        font-weight: 600;
        bottom: 2rem;
        right: 2rem;
        transform: scale(1);
    }

    #events-and-weather {
        display: grid;
        grid-template-columns: 1.8fr 1.2fr 1fr;
        gap: 10px;
        justify-content: center;
    }

    #events-and-weather>* {
        width: auto;
    }


    #weather-data {
        display: flex;
    }

    #cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .card>div:nth-child(1)>h2 {
        font-size: 1rem;
    }
        
    .card>div:nth-child(1)>span {
        font-size: .75rem;   
    }

 
    .card>div:nth-child(2)>div>p {
        font-size: .75rem;
        text-wrap: wrap;  
    }
    
    /* ------------------ Footer ------------------ */
    #footr {
        background-color: pink;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        gap: 1rem;
    }

    /*========================= JOIN PAGE ==============================*/
    /* ------------------ Form ------------------ */
    #join-main > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));   }

    #join-form>label>input,
    #join-form>label>textarea {
        width: 100%;
        max-width: 600px;
    }

    fieldset {
        width: 100%;
        max-width: 600px;
    }

    #membership-btn {
        width: 300px;
    }

    #membership-cards {
        width: 100%;
    }

    #membership-cards h2 {
        color: var(--accent-color2);
    }

    #hero-discover source, #hero-discover img { 
        border-radius: 15%;
    }
}


 /*========================= DISCOVER PAGE ==============================*/
@media only screen and (min-width:641px) {
    .d-card {
        max-width: 550px;
        min-width: 300px;
        grid-template-areas:
        "name name"
        "picture para"
        "picture address"
        "learnmore learnmore";
    }
}

@media only screen and (min-width:1025px) {
    #main-discover {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .d-card img:hover {
        box-shadow: 1px 1px 10px var(--accent-color2);
    }
}