* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
}

:root {

    --primary-color: white;
    --secondary-color: black;
    --accent-color1: #640001;
    --accent-color2: #157A6E;
    --accent-color3: #DB7F8E;
    --border-color: #eee;
    --headings: 'Josefin Sans', sans-serif;
    --gnl-text: 'Cardo', sans-serif;
}

header, main, footer {
    padding: 0 .5rem;
}

/*============================== TYPOGRAPHY ===================================*/
h1, h2, h3 {
    font-family: 'Merriweather Sans', Verdana, Geneva, Tahoma, sans-serif;
}

main p {
    font-family: 'Cardo', Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: var(--accent-color2);
}

h2 {
    font-size: clamp(1.2rem, 3vw,1.5rem);
}

/*============================== HEADER ===================================*/
header {
    display: grid;
    grid-template-columns: 80px auto 44px;
    align-items: center;
    column-gap: 8px;
    border-bottom: solid 1px #eee;
    padding: .2rem .5rem;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    text-transform: uppercase;
    color: var(--accent-color1);
    /* color: #414441; */
    grid-column: 2/3;
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    font-weight: 600;
}

.hamburger {
    background: none;
    border: none;
    color: var(--accent-color1);
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/*============================== NAVIGATION ===================================*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    list-style-type: none;
    background-color: var(--accent-color3);
}

#navbar ul li a {
    font-size: 1.2rem;
    color: var(--secondary-color);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: .6rem 1rem;
    border-bottom: solid 1px #eee;
}

#navbar ul .current {
    background-color: var(--accent-color1);
}

#navbar ul .current a {
    color: white;
}

/*============================== MAIN ===================================*/
main {
    padding-bottom: 1rem;
}

#first-section {
    background-color: #d3d0d0;
}

#second-section {
    background-color: #ddd;
}

section p{
    padding: .5rem;
}
section h2 {
    text-align: center;
    color: var(--primary-color);
    background-color: var(--accent-color2);
    padding: .6rem 0;
}

main>div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

section picture img {
    display: block;
    max-width: 90%;
    margin: 1rem auto;
}

#certificate-btns {
    padding: 0.5rem;
}

#certificate-btns button {
    font-size: 1rem;
    padding: 0.65rem;
    border-radius: 7px;
    border: solid 1px #ddd;
    cursor: pointer;
}

#course-list .course-button {
    border: solid 1px #24bba9;
    padding: .6em 0;
}

#third-section #course-list {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

#third-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

#third-section>h2 {
    grid-column: 1/4;
}

#third-section>#certificate-btns {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

div#total {
    display:none;
    text-align: center;
    grid-column: 1/4;
    padding: .6rem 0;
}

dialog {
    width: 500px;
    max-height: 320px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #ddd;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(rgba(22, 22, 22, 0.856));
}

dialog::backdrop {
    background: rgba(46, 46, 46, 0.74);
}

dialog>* {
    margin-bottom : .5rem;
    font-size: .9rem;
}

dialog button {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: .5rem .5rem .2rem;
    border: 1px solid rgb(0 0 0 / 10%); 
    border-radius: 50%;
    cursor: pointer;
}

#WDD131, #CSE110, #CSE111, #CSE210, #WDD130, #WDD231 {
    cursor: pointer;
}

/*============================== FOOTER ===================================*/
footer {
    padding: 1rem 10px;
    text-align: center;
}

footer div:nth-child(2) {
    background-color: var(--accent-color3);
    padding: .3rem 0;
}

footer p{
    margin: .5rem auto;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: .5rem;
}

.social a {
    background-color: #e7c0c6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #e7c0c6;
    border-radius: 22px;
    width: 44px;
    height: 44px;
}

.social a:hover {
    background-color: #ddd;
}

.social img {
    width: 22px;
    height: 22px;
}