* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 280px));
    justify-content: center;
    gap: 7px;
}

section {
    text-align: center;
    border: solid 1px #A5A5C2;
    background-color: #B9B9CC;
}

section img {
    box-shadow: 3px 3px 10px 3px #6f6f76, -3px -3px 10px 3px #6f6f76;
    margin: 0.5rem;
}

h1 {
    text-align: center;
    color: #4D4D96;
    margin: 1rem 0;
}

h2 {
    color: #4D4D96;
    font-size: 1.3rem;
    margin: 1rem 0 .5rem 0;
}

footer {
    height: 3rem;
    padding: .9rem 0;
    text-align: center;
    margin-top: 1rem;
    background-color: #4D4D96;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}